[core]
	autocrlf = input
	filemode = false
[user]
	name = Jonatan Karlsson
	email = me@jonatankarlsson.se
[push]
	default = simple
[merge]
	tool = kdiff3
[diff]
	tool = kdiff3
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

